@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@layer base {
  .dark {
    --color-default: var(--color-gray-900);
    --color-highlight: var(--color-gray-900);
    --color-text-heading-strong: theme(colors.gray.50);  /* Almost White */
    --color-text-heading-soft:   theme(colors.gray.100); /* Very Light Gray */
    --color-text-body-strong:    theme(colors.gray.200); /* Light Gray */
    --color-text-body:           theme(colors.gray.300); /* Medium Gray */
  }

  h1 {
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--color-text-heading-strong); /* Dynamic */
  }
  
  h2 {
    font-size: 1.875rem;
    font-weight: 700;
    color: var(--color-text-heading-soft); /* Dynamic */
  }
  
  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-text-heading-soft); /* Dynamic */
  }
  
  h4 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-text-body-strong); /* Dynamic */
  }
  
  h5 {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--color-text-body-strong); /* Dynamic */
  }
  
  h6 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-text-body-strong); /* Dynamic */
  }
  
  p {
    font-size: 1rem;
    line-height: 1.625;
    color: var(--color-text-body); /* Dynamic */
  }

  td {
    color: var(--color-text-body); /* Dynamic */
  }
}

@import "./themes/default.css";
@import "./themes/serene.css";
@import "./themes/earthy.css";
@import "./themes/royal.css";
@import "./themes/luxury.css";
@import "./themes/oceanic.css";
@import "./themes/horizon.css";
