@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  .dark {
    --color-default: var(--color-gray-900);
    --color-highlight: var(--color-gray-900);
  }

  h1 {
    font-size: 2.25rem; /* 36px */
    font-weight: 700;
    color: theme(colors.gray.900);
  }
  
  h2 {
    font-size: 1.875rem; /* 30px */
    font-weight: 700;
    color: theme(colors.gray.800);
  }
  
  h3 {
    font-size: 1.5rem; /* 24px */
    font-weight: 600;
    color: theme(colors.gray.800);
  }
  
  h4 {
    font-size: 1.25rem; /* 20px */
    font-weight: 600;
    color: theme(colors.gray.700);
  }
  
  h5 {
    font-size: 1.125rem; /* 18px */
    font-weight: 500;
    color: theme(colors.gray.700);
  }
  
  h6 {
    font-size: 1rem; /* 16px */
    font-weight: 500;
    color: theme(colors.gray.700);
  }
  
  p {
    font-size: 1rem;
    color: theme(colors.gray.700);
    line-height: 1.625;
  }
}

@import "./themes/default.css";
@import "./themes/serene.css";
@import "./themes/earthy.css";
@import "./themes/royal.css";
@import "./themes/luxury.css";
@import "./themes/oceanic.css";
@import "./themes/horizon.css";
