<%= turbo_frame_tag "notifications_page_#{pagy.next}" do %>
  <div class="p-4 text-center">
    <%= render Core::LinkComponent.new(
          name: "More notifications",
          url: notifications_path(page: pagy.next),
          options: { custom_style: { style: :as_button, theme: :secondary, size: :sm } }
        ) %>
  </div>
<% end %>
