require "rails_helper"

RSpec.describe Adminit::Dashboard::<%= class_name.pluralize %>::<%= kind.camelize %>WidgetComponent, type: :component do
  let(:account) { create(:account, :verified) }

  it "renders the widget title" do
    render_inline(described_class.new(account: account))
    expect(page).to have_text(I18n.t("adminit.dashboard_widgets.<%= file_name %>.<%= kind %>.title"))
  end
end
