<%= render Adminit::Dashboard::BaseWidgetComponent.new(title: title) do %>
  <p class="text-sm text-gray-500 dark:text-gray-400">
    <%= file_name %> <%= kind %> widget content goes here.
  </p>
<% end %>
