module Adminit
  module Dashboard
    module <%= class_name.pluralize %>
      class <%= kind.camelize %>WidgetComponent < ApplicationViewComponent
        SPAN_CLASS = "col-span-1"

        option :account
<% if kind == "analytics" -%>

        def chart_height
          Adminit::DashboardHelper::CHART_HEIGHT
        end

        def stats
          @stats ||= ::<%= class_name %>StatsQuery.call
        end

        def chart_options
          ::Dashboard::ChartOptions.donut(
            labels: [],
            series: [],
            semantic_colors: []
          )
        end
<% end -%>
      end
    end
  end
end
