<%= render(Core::ModalComponent.new(title: t("adminit.tickets.reject_reopen_title"))) do %>
  <%= form_with url: reject_reopen_adminit_ticket_path(@ticket), class: "space-y-4" do |form| %>
    <%= form.text_area :reason, rows: 3, placeholder: t("adminit.tickets.reject_reopen_placeholder"), required: true %>
    <div class="flex justify-end gap-3">
      <%= form.button t("adminit.tickets.reject_reopen_button"), {theme: :delete} %>
    </div>
  <% end %>
<% end %>
