<%= render(Core::CardComponent.new(classes: "text-center")) do %>
  <h1 class="font-black"><%= t("adminit.dashboard.title") %></h1>
  <p class="py-3">
    <%= t("adminit.dashboard.welcome", email: current_account.email) %>
  </p>
<% end %>
