<div class="w-full">
  <div class="flex justify-between items-center pb-2">
    <h1 class="text-xl font-semibold">Announcements</h1>
    <%= link_to "New Announcement", new_adminit_announcement_path,
        class: "rounded-lg py-2 px-4 bg-indigo-600 text-white hover:bg-indigo-700",
        data: {turbo_frame: "modal"} %>
  </div>
  <%= render Core::CardComponent.new({padding: :none}) do %>
    <div class="flex p-4 gap-4">
      <%= render Core::TableComponent.new(rows: @announcements, columns: announcement_columns,
          options: {ids: {tbody: "admin_announcements", col_prefix: "admin"}}) %>
    </div>
  <% end %>
</div>
