/* Category: Vivid */
@layer utilities {
  .theme-bloom {
    /* PRIMARY (Hue: 340, Chroma: 0.22) */
    --color-primary-50: oklch(0.98 0.08800000000000001 340);
    --color-primary-100: oklch(0.95 0.08800000000000001 340);
    --color-primary-200: oklch(0.9 0.22 340);
    --color-primary-300: oklch(0.82 0.22 340);
    --color-primary-400: oklch(0.72 0.22 340);
    --color-primary-500: oklch(0.62 0.22 340);
    --color-primary-600: oklch(0.52 0.22 340);
    --color-primary-700: oklch(0.42 0.22 340);
    --color-primary-800: oklch(0.32 0.22 340);
    --color-primary-900: oklch(0.22 0.154 340);
    --color-primary-950: oklch(0.12 0.11 340);
    /* SECONDARY (Hue: 115, Chroma: 0.2) */
    --color-secondary-50: oklch(0.98 0.08000000000000002 115);
    --color-secondary-100: oklch(1.0 0.08000000000000002 115);
    --color-secondary-200: oklch(0.9500000000000001 0.2 115);
    --color-secondary-300: oklch(0.87 0.2 115);
    --color-secondary-400: oklch(0.77 0.2 115);
    --color-secondary-500: oklch(0.67 0.2 115);
    --color-secondary-600: oklch(0.5700000000000001 0.2 115);
    --color-secondary-700: oklch(0.47 0.2 115);
    --color-secondary-800: oklch(0.37 0.2 115);
    --color-secondary-900: oklch(0.27 0.13999999999999999 115);
    --color-secondary-950: oklch(0.12 0.1 115);

    /* SEMANTIC TEXT MAPPING */
    --color-text-heading-strong: var(--color-primary-900);
    --color-text-heading-soft:   var(--color-primary-800);
    --color-text-body-strong:    var(--color-primary-700);
    --color-text-body:           theme(colors.slate.600);
    &:where(.dark, .dark *) {
      --color-text-heading-strong: var(--color-primary-200);
      --color-text-heading-soft:   var(--color-primary-100);
      --color-text-body-strong:    var(--color-primary-100);
      --color-text-body:           theme(colors.slate.100);
    }
  }
}
