/* Category: Serene */
@layer utilities {
  .theme-glacier {
    /* PRIMARY (Hue: 195, Chroma: 0.1) */
    --color-primary-50: oklch(0.98 0.04000000000000001 195);
    --color-primary-100: oklch(0.9199999999999999 0.04000000000000001 195);
    --color-primary-200: oklch(0.87 0.1 195);
    --color-primary-300: oklch(0.7899999999999999 0.1 195);
    --color-primary-400: oklch(0.69 0.1 195);
    --color-primary-500: oklch(0.59 0.1 195);
    --color-primary-600: oklch(0.49 0.1 195);
    --color-primary-700: oklch(0.39 0.1 195);
    --color-primary-800: oklch(0.29000000000000004 0.1 195);
    --color-primary-900: oklch(0.19 0.06999999999999999 195);
    --color-primary-950: oklch(0.12 0.05 195);
    /* SECONDARY (Hue: 230, Chroma: 0.1) */
    --color-secondary-50: oklch(0.98 0.04000000000000001 230);
    --color-secondary-100: oklch(0.9199999999999999 0.04000000000000001 230);
    --color-secondary-200: oklch(0.87 0.1 230);
    --color-secondary-300: oklch(0.7899999999999999 0.1 230);
    --color-secondary-400: oklch(0.69 0.1 230);
    --color-secondary-500: oklch(0.59 0.1 230);
    --color-secondary-600: oklch(0.49 0.1 230);
    --color-secondary-700: oklch(0.39 0.1 230);
    --color-secondary-800: oklch(0.29000000000000004 0.1 230);
    --color-secondary-900: oklch(0.19 0.06999999999999999 230);
    --color-secondary-950: oklch(0.12 0.05 230);

    /* SEMANTIC TEXT MAPPING */
    --color-text-heading-strong: var(--color-primary-900);
    --color-text-heading-soft:   var(--color-primary-800);
    --color-text-body-strong:    var(--color-primary-700);
    --color-text-body:           theme(colors.slate.600);
    &:where(.dark, .dark *) {
      --color-text-heading-strong: var(--color-primary-200);
      --color-text-heading-soft:   var(--color-primary-100);
      --color-text-body-strong:    var(--color-primary-100);
      --color-text-body:           theme(colors.slate.100);
    }
  }
}
