/* Category: Serene */
@layer utilities {
  .theme-reef {
    /* PRIMARY (Hue: 190, Chroma: 0.16) */
    --color-primary-50: oklch(0.98 0.064 190);
    --color-primary-100: oklch(0.9199999999999999 0.064 190);
    --color-primary-200: oklch(0.87 0.16 190);
    --color-primary-300: oklch(0.7899999999999999 0.16 190);
    --color-primary-400: oklch(0.69 0.16 190);
    --color-primary-500: oklch(0.59 0.16 190);
    --color-primary-600: oklch(0.49 0.16 190);
    --color-primary-700: oklch(0.39 0.16 190);
    --color-primary-800: oklch(0.29000000000000004 0.16 190);
    --color-primary-900: oklch(0.19 0.11199999999999999 190);
    --color-primary-950: oklch(0.12 0.08 190);
    /* SECONDARY (Hue: 70, Chroma: 0.2) */
    --color-secondary-50: oklch(0.98 0.08000000000000002 70);
    --color-secondary-100: oklch(1.0 0.08000000000000002 70);
    --color-secondary-200: oklch(0.9500000000000001 0.2 70);
    --color-secondary-300: oklch(0.87 0.2 70);
    --color-secondary-400: oklch(0.77 0.2 70);
    --color-secondary-500: oklch(0.67 0.2 70);
    --color-secondary-600: oklch(0.5700000000000001 0.2 70);
    --color-secondary-700: oklch(0.47 0.2 70);
    --color-secondary-800: oklch(0.37 0.2 70);
    --color-secondary-900: oklch(0.27 0.13999999999999999 70);
    --color-secondary-950: oklch(0.12 0.1 70);

    /* SEMANTIC TEXT MAPPING */
    --color-text-heading-strong: var(--color-primary-900);
    --color-text-heading-soft:   var(--color-primary-800);
    --color-text-body-strong:    var(--color-primary-700);
    --color-text-body:           theme(colors.slate.600);
    &:where(.dark, .dark *) {
      --color-text-heading-strong: var(--color-primary-50);
      --color-text-heading-soft:   var(--color-primary-200);
      --color-text-body-strong:    var(--color-primary-300);
      --color-text-body:           theme(colors.slate.400);
    }
  }
}
