<!-- app/views/static/index.html.erb-->
<%= render(Core::CardComponent.new()) do %>
  <h1 class="font-black text-3xl text-center">Super Rails App</h1>
  <p class="py-3">
    You are signed in as
  </p>
<% end %>
