<span class="<%= html_class %>">
  <%= icon && helpers.icon(icon, {classes: "w-4 h-4 mr-2"}) %>
  <% if indicator %>
    <div class="<%= indicator_class %>"></div>
  <% end %>
  <%= @label %>
</span>
