<div class="bg-white shadow-lg rounded-2xl border-gray-200 hover:shadow-gray-400 focus-within:shadow-gray-500 dark:bg-gray-800 dark:border-red-500 dark:hover:shadow-fuchsia-400 dark:text-white <%= html_classes %> animate-slide-up">
  <%= content %>
</div>
