<%= render(Core::DrawerComponent.new(title: "RailsApp | Menu")) do %>
  <nav class="opacity-0 flex invisible group-hover/drawer:visible group-hover/drawer:opacity-100 transition-opacity easy-in-out duration-300 flex-col w-full px-4 h-screen">
    <%= content %>
  </nav>
<% end %>
